<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>The User under the ID <%= name %> has placed an order from <%= from %> to <%= to %> with a dance of <%= distance %> with the order ID <%= order %>. Please click confirm you order! </h1>
    <a href="payment">Confirm Order</a>
    <a href="/logout">Logout</a>
</body>
</html>
