<%- include('../partials/header') -%>
<h1>Hi this is <%= name %> Profile </h1>

<a href="<%= name %>/placeorder">Place Order</a>
<a href="<%= name %>/orderhistory">Order History</a>

<a href="/logout">Logout</a>
<%- include('../partials/footer') -%>
